.toc-list.collapsed {
    display: none;
}

.toc-list,
.toc-sublist {
    list-style: none;
    padding-left: 0;
    margin: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-height: 1000px;
    opacity: 1;
}

.toc-list.collapsed {
    max-height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
}